*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ddd;
    overflow: hidden;
}

.maps {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    transform: translate(-50%, -50%);
}

.maps-wrapper {
    position: relative;
}

.map {
    z-index: 2;
    position: absolute;
    opacity: 0.7;
    width: 87.3049%;
    top: -2.5%;
    left: 1.4%;
}

.undermap {
    width: 100%;
}

path:hover {
    fill: #43714a;
}
